body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	background-color: red;
	text-align: right;
	color: white;
}

.container {
	width: 1100px;
}

#page .container {
	display: block;
	margin-left: 150px;
	margin-right: 0px;
	width: 950px;
}
.sidemenu {
	display: inline;
	float: left;
	height: 600px;
	background-color: #D1D2D4;
	padding-top: 50px;
	padding-left: 15px;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
}

#mainmenu ul
{
	padding:6px 0px 5px 0px;
	margin:0px;
}

#mainmenu ul li
{
	display: block;
	text-align: right;
	margin-bottom: 6px;
	margin-top: 6px;
	border-bottom: 2px solid #C1C2C4;
	padding-bottom: 6px;
}

#mainmenu ul li.lastmenu {
	border-bottom: none;
}

#mainmenu ul li a
{
	color:black;
	background-color:transparent;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	padding:5px 8px;
	text-transform: uppercase;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	text-decoration:none;
	font-weight: bold;
}

#mainmenu ul li.active{
	height: 15px;
}

#mainmenu ul li.active:after {
	width: 0px;
	height: 0px;
	border-left: 9px solid #D1D2D4;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	position: relative;
	left: 123px;
	top: -17px;	
	content: " ";
	display: block;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	margin-left: 150px;
	margin-right: 20px;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.greeting {
	font-weight: bold;
	padding-left: 33px;	
}

.note {
	color: gray;
}

.bonnet {
	margin-top: 25px;
}

.messages {
	min-height: 4em;
	margin-left: 150px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #FFFDE4;
	margin-right: 20px;
}
